body {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: white;
}

.container {
    /* background-image: url('/img/ipl.jpg');
    background-repeat: no-repeat; */
    height: 100vh;
}

.header {
    background-color: rgb(255, 255, 255);
    color: rgb(27, 31, 104);
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid grey;
}

.heading {
    margin: 0;
}

.content-container {
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    padding: 300px 0 0 50px;
}

.slogan {
    font-size: 40px;
    margin: 0;
    margin-bottom: 10px;
}

.button {
    text-decoration: none;
    color: black;
    display: inline-block;
    background-color: white;
    height: 50px;
    width: 150px;
    font-size: 20px;
    line-height: 50px;
    border-radius: 50px;
    text-align: center;
    transition: 0.3s ease transform;
}

.button:hover {
    transform: translateY(-8%);
}

.button:active {
    transform: translateY(0%);
}

.boxes {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
    /* max-width: 1100px; */
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(216, 216, 216);
    flex-wrap: wrap;
}

.box {
    height: 200px;
    line-height: 200px;
    width: 230px;
    background-color: rgba(255, 255, 255, 0.887);
    text-align: center;
    border-radius: 5px;
    font-size: 25px;
    transition: 0.3s ease transform;
    color: black;
    margin: 10px 0; 
}

.box:hover {
    transform: translateY(-10%) scale(1.01);
}
