body {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: white;
}

.container {
    /* background-image: url('/img/ipl.jpg');
    background-repeat: no-repeat; */
    height: 100vh;
    background-color: rgb(214, 214, 214);
}

.heading {
    margin: 0;
}

.header {
    background-color: rgb(255, 255, 255);
    color: rgb(27, 31, 104);
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid grey;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-decoration: none;
    color: white;
    margin-top: 50px;
}

.link {
    /* background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); */
    height: 150px;
    width: 300px;
    background: rgba(104, 22, 112, 0.817);
    border-radius: 10px;
    margin: 10px 10px;
    line-height: 150px;
    text-align: center;
    transition: transform ease-out 0.3s;
    text-decoration: none;
    color: white;
}

.link:hover {
    transform: translateY(-10%);
}