* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(24,17,39);
    background: radial-gradient(circle, rgba(24,17,39,1) 0%, rgba(85,87,153,1) 50%, rgba(24,17,24,1) 100%);
    font-size: 14px;
    font-weight: 300;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 50px 10px;
    color: white;
}

.heading {
    font-weight: 300;
    font-size: 3em;
    align-self: center;
    margin: 10px 0;
}

.label {
    display: block;
    margin: 15px 0 3px 0;
}

.input-box {
    background-color: rgb(255, 255, 255);
    padding: 8px 10px;
    border-radius: 2px;
    border-bottom: 3px solid transparent;
    transition: border-bottom ease 0.2s;
}

.input-box:focus-within {
    border-bottom: 3px solid #0fa856;
}

.input {
    width: 100%;
    font-size: 1.1em;
    font-weight: 300;
    border: none;
    color: #264653;
    background-color: inherit;
}

.input:focus {
    outline: none;
}


.check-field {
    margin: 30px 0;
    align-self: center;
}

.input-tos {
    margin: 0 10px 0 10px;
}

.btn {
    align-self: center;
    cursor: pointer;
    border: none;
    padding: 10px 30px;
    font-size: 1.2em;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    transition: transform ease 0.3s;
}

.btn:hover {
    transform: translateY(-10%);
}

.btn:active {
    transform: translateY(0);
}